<header class="app-header">
  <div class="header-start">
    <span class="header-title">{{ pageTitle() }}</span>
  </div>

  <div class="header-end">
    <p-menu #userMenu [model]="userMenuItems()" [popup]="true" [appendTo]="'body'" [baseZIndex]="1200"></p-menu>
    @if (user(); as currentUser) {
      <button class="user-btn" (click)="userMenu.toggle($event)">
        <span class="user-avatar"><i class="pi pi-user"></i></span>
        <span class="user-name">{{ currentUser.name }}</span>
        <i class="pi pi-chevron-down user-chevron"></i>
      </button>
    } @else {
      <button class="user-btn" disabled>
        <i class="pi pi-spin pi-spinner"></i>
        <span class="user-name">Loading...</span>
      </button>
    }
  </div>
</header>
